body{
    min-height: 2000px;
}
.jumbotron{
    background-image: url(img/bg.png);
    background-color: burlywood;
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin: auto;
   font-family: "Lucida Console", "Courier New", monospace;
   font-size: bold;
 
}
#gallery{
    background-color: burlywood; 
    
}
footer{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
footer p{
    font-family: arial;
    font-style: normal;
    font-weight: bold;
    color: azure;
}
.social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 20px 10px;
    border-radius: 50%;
}
.social-icons {
display: flex;
}
.sosial-icons i,
.social i {
color:  burlywood;
}
.social-icons a:hover{
    background-color: rgb(83, 55, 2);
    box-shadow:  burlywood;
    transition: all ease 0.5s;
}

.social-icons a:hover i,
.social a:hover{
      transition: all ease 0.5s;
}